
html{
    font-weight: normal;
    font-style: normal;
    position:relative;
    height: 100vh;
    display:flex;
}

body{
    font-family:'PT Sans', sans-serif;
    width: 100%;
    background-color:#303952;
}
h6{
    font-weight: bold;
}
/*===== MENU ========*/
.mynav{
    display: flex;
    background-image: url('../img/chispa.jpg');
    height: 700px;
    background-size: cover;
    border-bottom: 2px solid #ff5252;
}

.mynav h1{
    color:#fff;
    margin:0 auto;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    position: fixed;
    width:100%;
    font-size: 20px;
    background-color: rgba(0,0,0, 0.5) !important;
    transition: 0.4s ease;
    box-shadow: 0px 4px 9px #222;
    z-index: 900;

}
.colorScroll{
    background-color: #222 !important;
    transition: background-color 0.4s ease-out;
}

.navbar-brand img{
    height: 60px;
}
.navbar .navbar-nav{
}

.navbar .nav-item a{
    border-bottom:5px transparent !important;
    margin:0;
}
.navbar .nav-item a:hover{
    color:#ff5252 !important;
    border-bottom:5px solid !important;
    margin:0;
}

.navbar .dropdown-menu{
    background-color: rgba(0,0,0,0.3);
}

.sr-only{
    color:red !important;
}
/*=======================*/
/*===== LANDING =========*/
#bienvenida{
    margin:30px auto;
    background-color: black;
    color:#fff;
}
#bienvenida p{
    padding: 20px;
}
/*=======================*/
/*===== MENSAJE =========*/
#mensaje{
    width: 100%;
    margin: 0 auto;
    background-color: #596275;
    box-shadow: 0px 4px 9px #222;
}
.mensaje_Rodrigo{
    width: 70%;
    margin: 10px auto 10px;
    padding:20px;
    color:#fff;
    background-color: #596275;
}

.arim_foto{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: #fff 2px solid;
    margin: 10px auto;
}




/*=======================*/
/*===== CHARTS ==========*/
.articles, .videosTodos{
    width: 100%;
    margin: 40px auto;
    padding:40px;
    background-color: #596275;
    color:#fff;
    box-shadow: 0px 4px 9px #222;
}
.select_chart{
    width: 100%;
    margin: 40px auto;
    padding:40px;
    background-color: #fff;
    color: #596275;
    box-shadow: 0px 4px 9px #222;
}
@media (max-width: 767px){
    .select_chart{
        width:100%;
    }
    #chart1{
        width:100%;
    }
}
#chart1{
    margin-top:20px;
    padding:0;

    background-color: #fff;
}
#chart2{
    margin: 20px;
    display:none;
    background-color: #fff;
}

#chart3{
    margin: 20px;
    display:none;
    background-color: #fff;
}
#chart4{
    margin: 20px;
    display:none;
    background-color: #fff;
}
/*============================================*/
/*======= PARALLAX ==========*/
#parallax_uno {
  color:white;
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image:url("../img/fcea stock grande-6.jpg");
}

/*==========================================*/
/*======= FACULTAD ==========*/
#facultad{
    width: 100%;
    margin: 40px auto;
    padding:40px;
    background-color: #596275;
    box-shadow: 0px 4px 9px #222;
}
/*==========================================*/

/*======= NOTAS ==========*/
#notas{
    width: 100%;
    margin: 40px auto;
    padding:40px;
    background-color: #596275;
    box-shadow: 0px 4px 9px #222;
}

#otrasNotas{
    width: 100%;
    margin: auto;
    padding:40px;
    background-color: #596275;
    box-shadow: 0px 4px 9px #222;
}

#notas h2{
    color:#fff;
}


.articles img{
    float:left;
    padding:10px;

}
.notes{
    background-color: #535c68;
    padding:10px;
    margin:10px;
}
.notes p h2{
    margin:5px;
}
.articles h5{
    color:#000;
}
.articles p{
    color:#000;
}
.zoom{
    position:relative;
    overflow: hidden;
}
.zoom img{
    padding:0;
    margin:0;
    transition: all 0.3s;

}
.zoom:hover img{
    transform: scale(1.1);
}


/*==========================================*/

/*======= VIDEOS ==========*/
.video1{

}
.video2{
    display: flex;
    justify-content: flex-end;
}
.borde-video{
    box-shadow: 0px 4px 9px #222;
}


/*==========================================*/
/*======= DESCARGAS ==========*/
#descargas{
    width: 100%;
    margin: 40px auto;
    padding:40px;
    background-color: #596275;
    box-shadow: 0px 4px 9px #222;
}

#descargas h2{
    color:#fff;
}
/*==========================================*/

/*======= PAGINA NOTAS==================================================*/
.notaCompleta{
    font-size: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding:0 180px 0 180px;
    background-color: #fff;

}
.recuadro_rojo{
    padding:50px;
    margin-bottom: 30px;
    background-color: #f1e4e0;
}

.notaCompleta img{
    margin-bottom: 20px;
    width: auto;
}

.notaCompleta h1{
    margin-bottom: 30px;
    font-size: 50px;
}

.notaCompleta h6{
    margin-bottom: 20px;
    font-size: 24px;
}

.imagen_salida{
    width: auto;
}
/*==========================================*/
/*======= FOOTER ==========*/
footer{
    height: 250px;
    display:flex;
    align-items: flex-end;
    background-color: #222;
}

.logos img{
      width: auto;
      height: 80px;
      margin:15px auto 15px auto

}

.social-networks{
	text-align: center;
    order:1;
	padding-top: 30px;
	padding-bottom: 38px;
}

.social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

.social-networks a:hover{
	text-decoration: none;
}
.facebook:hover{
	color:#0077e2;
}

.twitter:hover{
	color: #00aced;
